@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Inter";
}
.cabecalho {
    display: flex;
    margin-bottom: 3.5em;
    padding: 1em 0.6em;
}
.principal {
    padding: 1em;
}
.principal__entrada {
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal__digite {
    width: 90vw;
    color: #0A3871;
    font-size: 32px;
    border: none;
    font-family: "Inter";
    font-weight: 400;
    text-indent: 10px;
    height: 320px;
}
.requisitos {
    width: 90vw;
}
.requisitos__texto {
    font-size: 12px;
    color:#343A40;
    line-height: 18px;
    padding-bottom: 1em;
    display: flex;
}
.requisitos__texto::before {
    content: url(../img/atencao.svg);
    padding-right: 0.5em;
}
.container__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botao {
    padding: 24px;
    width: 90vw;
    height: 67px;
    gap: 8px;
    margin-bottom: 1em;
    border-radius: 24px;
    border: none;
    font-family: "Inter";
    font-size: 16px;
}
.cripto {
    color: white;
    background-color: #0A3871;
    box-shadow: none;
}
.descripto {
    border: 1px solid #0A3871;
    color:#0A3871;
}
.container__resultado {
    padding: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.resultado__conteudo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resultado__conteudo--titulo {
    color: #343A40 ;
    margin-bottom: 0.2em;
}
.resultado__conteudo--texto {
    color: #495057 ;
}